@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
  position: relative;
}

button {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

/* Custom styles for the navbar */
.navbar {
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Add a shadow to the navbar */
.navbar.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Set initial text color of nav-items to white */
.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

/* Change background color of navbar and text color of nav-items when the navbar is scrolled */
.navbar.scrolled {
  background-color: white !important;
}


#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4fdcad;
  color: #fff;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

#goToTopBtn i {
  display: flex;
  justify-content: center;
  align-items: center;
}

#goToTopBtn:hover {
  opacity: 0.8;
}

.navbar.scrolled .navbar-nav .nav-link {
  color: black !important;
}

.carousel-item img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.vegetables {
  background-image: url("/assets/images/bg.jpg");
  height: 530px;
  background-position: center;
  background-size: cover;
}



.sidebar {
  right: 0px;
  position: fixed !important;
  top: 50%;
}

.sidebar-items a i {
  transition: 0.3s;
}

.sidebar-items a i:hover {
  transform: scale(1.5);
}

.heading {
  font-family: "Roboto Slab", serif;
}

.box {
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}

.box:hover {
  margin-top: -10px;
}

.text {
  position: absolute;
  bottom: 5%;
  left: 25%;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.box img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

.menu {
  background-image: url("/assets/images/bg-food.jpg");
  height: 530px;
  background-position: center;
  background-size: cover;
}

.menu-items img {
  height: 415px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
}

.extra-bg {
  background-image: url("/assets/images/bg-extra.jpg");
  height: 250px;
  background-position: center;
  background-size: cover;
}

.wedding {
  background-image: url("/assets/images/wed-bg.jpg");
  height: 530px;
  background-position: center;
  background-size: cover;
}

.contact {
  background-image: url("/assets/images/contact-us-bg.png");
  height: 640px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.team {
  background-color: #f2f3f1;
  height: max-content;
  padding: 100px 0px;
}

.our-team {
  background-image: url("/assets/images/food-bg-members.jpg");
  height: 450px;
  background-position: center;
  background-size: cover;
}

.team-pic img {
  height: 550px;
  width: 100%;
  object-fit: cover;
}

footer {
  background-image: url("/assets/images/footer-background.jpg");
  background-position: bottom;
  background-size: cover;
}

.social-icon {
  height: 30px;
  width: 30px;
}

.google-pay img {
  height: 30px;
  width: 50px;
  object-fit: cover;
}

.money img {
  height: 30px;
  width: 50px;
  object-fit: cover;
}

.cash img {
  height: 30px;
  width: 50px;
  object-fit: cover;
  border: 1px solid #fff;
  border-radius: 3px;
}

.google-map {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.google-map img {
  height: 100%;
  width: 100%;
  filter: grayscale(60%);
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .vegetables {
    height: 1500px;
  }

  .menu {
    height: 2700px;
  }

  .menu-items img {
    width: 350px;
  }

  .wedding {
    height: 2700px;
  }

  .contact {
    height: 840px;
  }

  .our-team {
    height: 1710px;
  }

  .text {
    left: 35%;
  }

  footer {
    background-position: left;
  }

  .google-map {
    height: 300px;
  }

}